@using dalmARTSY_Test.Areas.Identity.Data
@using dalmARTSY_Test.Data

@inject AppDbContext appDbContext

    <div class="dropdown">
        <a class="btn nav-link dropdown-toggle" id="categoriesDropdown" name="id" data-bs-toggle="dropdown">
            dalmARTSY Categories...
        </a>
        <ul class="dropdown-menu">
            <li>
            @foreach (var categories in appDbContext.Categories.ToList())
                    {
                        <a class="dropdown-item" type="button" asp-action="ProductsByCategories" asp-route-id="@categories.Id">
                            @categories.Title
                        </a>
                    }

            </li>
        </ul>
    </div>